/* App */
html {
  position: relative;
  min-height: 100%;
}
.App {
  height: 100%;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

.listWrapper {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
/* Loader Styles */
.progressWrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

/* Footer Styles */
.footer {
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 10px;
  background: rgb(212, 212, 212);
  border-radius: 0px;
  font-weight: normal;
  font-family: "Roboto";
  position: relative;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: #005e46;
}
